@import '~bootstrap/scss/bootstrap';

$basic-background-color: #ffffff;
$box-dimension: 150px;

button {
  background-color: red // make another warm color(hexadecimal)
}

error {
  color: red // change to hexadecimal
}

h1 {
  margin: 10px auto;
  text-align: center;
}

.box {
  border: 5px solid black;
  font-size: 80px;
  height: $box-dimension;
  margin: 0;
  padding: 0;
  text-align: center;
  width: $box-dimension;
}

.turn-red {
  background: red;
}

.turn-blue {
  background: blue;
}


// .turn-x,
// .turn-o {
//   background: $basic-background-color;
// }
