@import '~bootstrap/scss/bootstrap';

$basic-background-color: #ffffff;
$box-dimension: 150px;

button {
  background-color: red // make another warm color(hexadecimal)
}

error {
  color: red // change to hexadecimal
}

h1 {
  font-size: 5rem;
  margin-bottom: 1vh;
  margin-top: 5vh;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  margin-right: 2vw;

  > form {
    margin: 1vh;
  }
}

section {
  align-items: center;
  border-top: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  max-height: 75vh;
  padding-top: 0;

  > form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;

    > button {
      align-self: center;
      margin-top: 1vh;
      min-height: 3vh;
      width: 10vw;
    }

    > input {
      margin: 0;
      text-align: center;
    }

    > label {
      font-size: 1.5rem;
      font-weight: 450;
      margin-bottom: 0;
      margin-top: 2vh;
    }
  }

  > h3 {
    font-weight: 550;
    margin-bottom: 0;
    margin-top: 5vh;
    text-decoration: underline;
  }
}

.box {
  border: 1px solid black;
  font-size: 80px;
  height: $box-dimension;
  margin: 0;
  padding: 0;
  text-align: center;
  width: $box-dimension;
}

.error {
  background-color: red;
}

.header {
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 5vh;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.turn-red {
  background-color: red;
}

.turn-blue {
  background-color: blue;
}


// .turn-x,
// .turn-o {
//   background: $basic-background-color;
// }
